body {
  background-image: linear-gradient(to bottom right, rgb(87, 6, 66), rgb(170, 129, 158));
  overflow: hidden;
  background-repeat: no-repeat;
  height:100%;
  width:100%;
  color:white;
  }
  .ais{
    text-align: center;
    font-family: cursive;
    font-size: 15px;
    background-image: linear-gradient(to bottom right, rgb(87, 6, 66), rgb(170, 129, 158));
    overflow: hidden;
    background-repeat: no-repeat;
    color:wheat;
  }
  .form-box {
    max-width: 300px;
    height:  400px;
    margin: auto;
    padding: 50px;
    background-image: linear-gradient(to bottom right, rgb(90, 6, 146), rgb(177, 124, 212));
    border: 10px solid rgb(71, 2, 104);
    overflow: hidden;
    border-radius: 40px;
    line-height: 40px;
  }
  
  h1, p {
    text-align: center;
    font-family: cursive;
  }
  h1{
    font-size: 30px;
  }
  input, textarea {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
  }
  textarea{
    height:50px;
  }
  label{
    font-family: 'Times New Roman', Times, serif;
  }
  